/* Global window style */
hydock {
    border-radius: 8px;
    color: #cdd6f4;
    font-family: "Noto Sans";
    font-size: 16px;
    margin: 8px;
    min-height: 58px;
    min-width: 58px;
}

/* Dock style */
#dock {
    background-color: #1e1e2e;
    border-radius: 8px;
    border: 2px solid #11111b;
    padding: 4px;
}

/* Application icon style */
#app-icon {
    border-radius: 8px;
    padding: 4px 8px;
    min-height: 40px;
    transition: background-color 0.25s ease;
}

/* Application icon style on hover */
#app-icon:hover {
    background-color: #313244;
}

/* Application launcher icon style */
#app-launcher {
    border-radius: 8px;
    padding: 4px 8px;
    min-height: 40px;
    transition: background-color 0.25s ease;
}

/* Application launcher icon style on hover */
#app-launcher:hover {
    background-color: #313244;
}

/* Application dots box style */
#app-dots-box {
    margin: 1px;
}

/* Application dot style */
#app-dot {
    background-color: #89b4fa;
    border-radius: 50%;
}

/* Separator style */
#separator {
    background-color: #313244;
    border: 1px solid #313244;
    border-radius: 33%;
    margin: 4px;
}
